<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Oxygen&family=Roboto&display=swap"
			rel="stylesheet"
		/>
		<title>Home</title>
		<link rel="stylesheet" href="style-home.css" />
	</head>
	<body>
		<div id="app">
			<div class="background">
				<div class="home-header">
					<div class="home-header__logo">
						<img
							id="logo-home"
							src="./images/icon-left-font-monochrome-white.png"
						/>
					</div>
					<nav>
						<a href=""></a>
						<a href=""></a>
					</nav>
				</div>
				<div class="home-publication">
					<div class="new-publication publication">
						<form class="input-publication">
							<h2>Quoi de neuf ?</h2>
							<textarea
								type="textarea"
								class="input-text"
								placeholder="Ecrivez quelque chose !"
								required
								v-model="publication.text"
								autofocus
							></textarea>
							<div>
								<input
									type="text"
									class="input-url"
									placeholder="Ajouter une image"
									v-model="publication.url"
								/>
								<button
									type="submit"
									class="publication-btn"
									v-on:click="newPublication()"
								>
									<span>Publier</span>
								</button>
							</div>
						</form>
					</div>
					<div class="all-publication publication">
						<h2>Publications récentes</h2>
					</div>
				</div>
			</div>
		</div>
		<script src="https://unpkg.com/vue@next"></script>
		<script>
			app = Vue.createApp({
				data() {
					return {
						publication: { text: "", url: "" },
					};
				},
				methods: {
					async newPublication() {
						console.log("cliqué");
						console.log(this.publication);
						try {
							const response = await fetch(
								"http://localhost:3000/api/publication",
								{
									method: "POST",
									headers: {
										"Content-Type": "application/json",
										accept: "application/json",
									},
									body: JSON.stringify(this.publication),
								}
							);
							const jsonResponse = await res.json();
							console.log(res.json);
							console.log("publication enregistrée");
						} catch (error) {
							console.log(error);
						}
					},
				},

				computed: {},
			});
			const vm = app.mount("#app");
		</script>
	</body>
</html>
