<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Oxygen&family=Roboto&display=swap"
			rel="stylesheet"
		/>
		<title>Login</title>
		<link rel="stylesheet" href="style.css" />
	</head>
	<body>
		<div id="app">
			<div class="background">
				<div class="register-header">
					<div class="register-header__logo">
						<img
							id="logo-register"
							src="./images/icon-left-font-monochrome-black.png"
						/>
					</div>
					<div class="register-header__title">
						<h1>Bienvenue sur votre réseau social d'entreprise</h1>
						<h2>Connectez-vous !</h2>

						<p>Partagez et restez en contact avec vos collègues.</p>
					</div>
				</div>
				<div class="register-box">
					<form class="input-box">
						<input
							type="email"
							class="input-field"
							placeholder="email"
							required
							v-model="profil.email"
							autofocus
						/>
						<input
							type="text"
							class="input-field"
							placeholder="mot de passe"
							required
							v-model="profil.password"
						/>
					</form>
					<button
						type="submit"
						class="submit-btn"
						v-on:click="login()"
					>
						<span>Se connecter</span>
					</button>
					<a href="">Pas encore inscrit ? Rejoignez Groupomania !</a>
				</div>
			</div>
		</div>
		<script src="https://unpkg.com/vue@next"></script>
		<script>
			app = Vue.createApp({
				data() {
					return {
						profil: { email: "", password: "" },
						action: "",
						fctn: "",
					};
				},
				methods: {
					async login() {
						console.log("cliqué");
						console.log(this.profil);
						try {
							const response = await fetch(
								"http://localhost:3000/api/login",
								{
									method: "POST",
									headers: {
										"Content-Type": "application/json",
										accept: "application/json",
									},
									body: JSON.stringify(this.profil),
								}
							);
							const jsonResponse = await res.json();
							console.log(res.json);
							console.log("profil connecté");
						} catch (error) {
							console.log(error);
						}
					},
				},

				computed: {},
			});
			const vm = app.mount("#app");
		</script>
	</body>
</html>
